.nav-bar {
  height: 60px;
  background-color: #E0E0DE;
  width: 100vw;


}

.brand {
  font-size: 14px;
  letter-spacing: 2.5px;
  font-weight: 430;
}

.cardwrap {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 100vw;
  border-top: 1px solid lightgray;
  padding-top: 60px;
}

.card :hover {
  opacity: 0.9;
}